/* Variables */

:root {
    --color-yellow: #ffdb4d;
    --color-yellow-dark: #ffd633;

    --color-blue: #0253ba;
    --color-red: #f52020;
    --color-green: #2b992b;

    --color-link-blue: #04b;
    --color-link-active: #c00;

    --color-white: #fff;
    --color-grey-light: #efefef;
    --color-grey: #999;
    --color-black: #000;
}
